<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="colorSource" value="color.txt"/>
		<add key ="classNameSource" value="className.txt"/>
		<add key ="messagesSource" value="messages.txt"/>
		<add key ="coursesSource" value="courses.txt"/>
	</appSettings>
	
</configuration>